{% extends "base.html" %}

{% block title %} Login {% endblock %}

{% block body_class %}bg-dark login-bg{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>
    <form action="/autenticar" method="POST">
        <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="text" class="form-control" id="cpf" name="cpf" required>
        </div>
        <div class="mb-3">
            <label for="senha" class="form-label">Senha</label>
            <input type="password" class="form-control" id="senha" name="senha" required>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <br>
    <form action="/cadastro" method="GET">
    <p>Caso nao tenha login, cadastre-se aqui: <button type="submit" class="btn btn-secondary">Cadastrar</button></p>
    </form>
</div>
{% endblock %}